
<div id="main-container" class="container-fluid">
  <div class="row">
    
    <div id="main-content" class="col-xs-6 col-xs-offset-3 text-center">
      <h1>
        <%= @current_date %><br />
        <small><%= @current_time %></small>
      </h1>
      
      <div id="yay-space-top" class="col-xs-12 text-center">
        <p></p>
      </div>
      
      <p>
        <i class="wi <%= @client_icon %> wi-5x"></i>
      </p>
      
      <h2><%= @client_temp %></h2>
      <h2>You are currently in <%= Rails.env.development? ? @client_loc : @client_ip.city %>.</h2>
      <h2>It's currently <%= @response['currently']['summary']%> outside.</h2>
    </div>
    
    <div id="yay-space" class="col-xs-12 text-center">
      <p></p>
      <p>This is a silly project made by <a href="http://jonlim.ca">Jon Lim</a>. Check out the <a href="https://github.com/JonLim/weather-screen">GitHub repo</a> to read more about it.</p>
      <p></p>
    </div>
    
  </div>
</div>